<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
</head>
<body>
<h4><%= @post.title %></h4>

<%= render Webpost.CommentView, "new.html" ,changeset: @changeset, conn: @conn, post: @post %>

<h5>Comments</h5>
<ul class="collection">
	<%= for comment <- @comments do %>
		<li class="collection-item">	
			<%= comment.content%>
			<%=link "Edit", to: post_comment_path(@conn, :edit, @post, comment) %>
			<%=link "Delete", to: post_comment_path(@conn, :delete, @post, comment) %>
		</li>
	<% end %>																											
</ul>
</body>
</html>

