<h5><%= @post.title %></h5>



<h5>Comments</h5>
<ul class="collection">
	<%= for comment <- @comments do %>
		<li class="collection-item">	
			<%= comment.content%>
		</li>
	<% end %>
</ul>


<div class="fixed-action-btn">
	<%= link to: comment_path(@conn, :new), class: "btn-floating btn-large waves-effect waves-light red" do %>
			<i class="material-icons">Add</i>
		<% end %>
</div>
