<%= form_for @changeset, post_comment_path(@conn, :create, @post), fn f-> %>

	<div class="form-group">
		
		<%= text_input f, :title, placeholder: "Title", class: "form-control" %>
		<%= error_tag f, :title %>
	</div>

	<%= submit "Add comment", class: "btn btn-primary" %>
<% end %>	
